
@media (prefers-reduced-motion: no-preference) {
  .P1{
    margin: auto;
    width:fit-content;
    text-shadow: grey;

  }
  header{
    font-family: Arial, Helvetica, sans-serif;
    padding: 50px;
    font-size: 30px;
    margin-left: 0px;
    color: white ;
    background-color: black;
    text-align: center;
  }
  form {
    display: auto;
    font-size:11px;
    padding:4px 2px;
    width:550px;
    margin:10px 0 0 0;
  }
  div .I1{
    align-content: center;
    margin-left: 150px;
    margin-right: 150px;
  }
  
  div .I3{
    align-content: center;
    margin-left: 150px;
    margin-right: 150px;
    font-size: 50px;
  }
}
